[Unit]
Description=Nginx reverse proxy for Pearls
After=pearls-app.service
PartOf=pearls-pod.service

[Container]
ContainerName=pearls-nginx
Image=docker.io/nginx:alpine
Pod=pearls.pod
AutoUpdate=registry
Volume=/etc/pearls/nginx.conf:/etc/nginx/conf.d/default.conf:ro

[Service]
Restart=always

[Install]
WantedBy=default.target
